ul
    li
        a Work
        ul
            li
                a(href='underdevelopment.html') Websites
            li
                a(href='underdevelopment.html') Typography
            li
                a(href='underdevelopment.html') Graphic Design
            li
                a(href='underdevelopment.html') Web & Desktop Apps
            li
                a(href='codingstyle.html') Coding Style
    li
        a About me
        ul
            li
                a(href='whaticando.html') What I can do
            li
                a(href='fancystuff.html') Fancy Stuff
            li
                a(href='https://www.linkedin.com/in/ivo-sequeros-del-rey-393598131', target="_blank").icon-linkedin
            li
                a(href='https://github.com/ivosequeros', target="_blank").icon-github
    li
        a(href='underdevelopment.html') Contact