//output:../index.html, pretty:false
doctype html
html
	head
		meta(charset='utf-8')
		title Ivo Sequeros del Rey
		script(src='https://use.typekit.net/lmo6xdh.js')
		script try {Typekit.load({async: false});}catch (e){}
		script(src='js/min/jquery.min.js')
		script(src='js/min/promise.min.js' charset='utf-8')
		script(src='js/needs.js' charset='utf-8')
		script(src='js/binder.js' charset='utf-8')
		script(src='js/charade.js' charset='utf-8')
		script(src='js/index.js' charset='utf-8')
		link(rel='stylesheet' href='css/min/styles.min.css')
		link(rel='stylesheet' href='css/min/animation.min.css')
		meta(http-equiv="Content-Security-Policy",content="upgrade-insecure-requests")
	body
		#strip
		header
			div Ivo Sequeros del Rey
			nav
				ul
					li
						a(href='#work') Work
						ul
							li
								a(href='#whatido') Websites
							li
								a(href='#interests') Typography
							li
								a(href='#interests') Graphic Design
							li
								a(href='#interests') Web Applications
							li
								a(href='#interests') Coding Style
					li
						a(href='#aboutme') About me
						ul
							li
								a(href='#whatido') What I Can Do
							li
								a(href='#interests') Interests
							li
								a(href='#music') Music I like
					li
						a(href='#contact') Contact
						
		main
			span#typecursor |
			span.input
