/* Sliding effect */
section {
	transition-property: all;
	transition-duration: .5s;
}
/* Menu links color change */
nav li, ul {
	transition-property: all;
	transition-duration: .3s;
}
/* Color-changing text */
.color {
  -webkit-animation: 5s color  infinite;
  -moz-animation: 5s color  infinite;
  -ms-animation: 5s color  infinite;
  -o-animation: 5s color  infinite;
  animation: 5s color  infinite;
}
@keyframes "color" {
  from, to {
    color: #6583b2;
  }
  33% {
    color: #609665;
  }
  66% {
    color: #7c3a3a;
  }
}
@-webkit-keyframes "color" {
  from, to {
    color: #6583b2;
  }
  33% {
    color: #609665;
  }
  66% {
    color: #7c3a3a;
  }
}
@-ms-keyframes "color" {
	from, to {
    color: #6583b2;
  }
  33% {
    color: #609665;
  }
  66% {
    color: #7c3a3a;
  }
}
@-o-keyframes "color" {
	from, to {
    color: #6583b2;
  }
  33% {
    color: #609665;
  }
  66% {
    color: #7c3a3a;
  }
}
/* Blinking cursor */
#typecursor {
  margin-left:3px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
