/* ------ General ------- */

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

a
	text-decoration: none
	color: inherit

html, body
	margin: 0
	padding: 0

body
	font-family: "acumin-pro", -apple-system, BlinkMacSystemFont, sans-serif
	-webkit-font-smoothing: antialiased
	font-smoothing: antialiased
	background-color: #fff
	color: #000

/* General Width Adjustment */

header
	padding: 25px 20px 8px 20px
	top: 0
	width: 100%

main
	margin: 0 0 0 0
	padding: 0 20px


@media only screen and (min-width: 1200px)
	main
		padding: 0 50px
	header
		width: calc(100% - 100px)
		padding: 45px 0 10px 0
		margin: 0 50px 0 50px
	body
		margin: 130px 3px 0 0
		
@media only screen and (min-width: 768px) and (max-width: 1200px)
	main
		padding: 20px 50px
	header
		width: calc(100% - 100px)
		padding: 45px 0 10px 0
		margin: 0 50px 0 50px
	body
		margin: 145px 3px 0 0


.turbolinks-progress-bar
	height: 4px
	background-color: #111


/* General Classes */

.extra-big-fullwidth
	font-size: 3.45vw

.extra-big
	font-size: 55px

.extra-big-emoji
	font-size: 47px


.big
	font-size: 40px


.medium
	font-size: 30px

.std-emoji
	font-size: 37px

.std
	font-size: 16px

.std-emoji
	font-size: 15px

.small
	font-size: 14px

.grey
	color: #999

.lightgrey
	color: #e0e0e0

.bold
	font-weight: bold

.underlined
	border-bottom: 2px solid #e1e1e1

.blue
	color: #00effc

.button
	text-transform: uppercase
	border: thin solid #e0e0e0
	letter-spacing: 2px
	color: #999
	font-size: 13px
	padding: 8px
	margin: 5px
	float: left
	border-radius: 5px
	-webkit-border-radius: 5px
	cursor: button

.button:hover, .button.clicked
	border: thin solid black
	color: white
	background-color: black

.extra-height
	line-height: 1.3em

.mono
	font-family: "roboto-mono"

.compressed
	letter-spacing: -1.5px

.thin
	font-weight: 100
	
.justify
	text-align: justify

.asblock
	display: block

.content > .pagedescription
	margin-top: 10px
	margin-bottom: 10px


@media only screen and (min-width: 1200px)
	.std
		font-size: 20px
	.content > .pagedescription
		margin-top: 60px
		margin-bottom: 30px

@media only screen and (min-width: 768px) and (max-width: 1200px)
	.std
		font-size: 18px
	.content > .pagedescription
		margin-top: 60px
		margin-bottom: 30px

/* ---- Page structure ----- */


/* Header */

header
	position: fixed
	background-color: rgba(255,255,255, 0.95)

header h1
	float: left
	font-size: 18px
	margin-top: 0

header h1 a
	font-weight: bolder
	letter-spacing: -0.3px

header h1 span
	display: block
	color: #111
	font-family: "roboto-mono"
	font-size: 13px
	font-weight: normal

header nav
	position: relative
	float: right
	font-size: 18px
	margin-top: 4px
	width: 50%

header nav li
	margin-right: 25px
	color: #000

header nav > ul
	float: right

header nav:hover li
	color: #888

header nav li:hover
	color: #000 !important

header nav ul
	padding: 0
	margin: 0

header nav li
	list-style: none
	float: left

header nav li li
	font-size: 17px

header nav li ul
	display: none
	position: absolute
	top: 12px
	right: 0
	padding-top: 23px
	opacity: 0

header nav li:hover ul
	opacity: 1
	display: block

header nav
	display: none

@media only screen and (min-width: 1200px)
	header nav
		display: block
	header h1
		font-size: 25px
	header h1 span
		font-size: 12px

@media only screen and (min-width: 768px) and (max-width: 1200px)
	header nav
		display: block
	header h1
		font-size: 25px
	header h1 span
		font-size: 13px

/* Main */

.content
	margin-top: 30px

main h1
	font-weight: bolder
	font-size: 25px
	padding-bottom: 30px
	margin: 0


@media only screen and (min-width: 1200px)
	main h1
		font-size: 70px
		
@media only screen and (min-width: 768px) and (max-width: 1200px)
	main h1
		font-size: 40px

main h2
	font-weight: normal
	margin-top: 0