._avatar img
	width: 200px
main
	padding-top: 0

main .extra-big-fullwidth.extra-height.mono
		font-size: 5.90vw

main .std.mono.grey
	font-size: 3vw

	
@media only screen and (min-width: 1200px)
	main .extra-big-fullwidth.extra-height.mono
		font-size: 65px
	main .std.mono.grey
		font-size: 18px
	._avatar img
		width: 280px
	main
		padding-top: 30px


._margin0top05bottom
	margin-top: 0
	margin-bottom: 0.5em

._margin02top0bottom
	margin-top: 0.2em
	margin-bottom: 0

._avatar
	position: absolute
	right: 0
	bottom: 10vh

@media only screen and (min-width: 768px) and (max-width: 1200px)
	main .extra-big-fullwidth.extra-height.mono
		font-size: 5vw
	._avatar img
		width: 280px
	main .std.mono.grey
		font-size: 1.2vw
	main
		padding-top: 30px
