/* Icons */
@font-face
  font-family: 'icons'
  src: url('../fonts/fontello.eot?5050897')
  src: url('../fonts/fontello.eot?5050897#iefix') format("embedded-opentype"), url('../fonts/fontello.woff2?5050897') format("woff2"), url('../fonts/fontello.woff?5050897') format("woff"), url('../fonts/fontello.ttf?5050897') format("truetype"), url('../font/fontello.svg?5050897#fontello') format("svg")
  font-weight: normal
  font-style: normal
[class^="icon-"]
	font-family: 'icons'
.icon-github:before
	content: '\e800'
.icon-mail:before
	content: '\e801'
.icon-linkedin:before
	content: '\f0e1'
.icon-mail
	font-size: 85%
/* Page */
._avatar img
	width: 200px
main
	padding-top: 0
	text-align: center
	margin-top: 28vh

main .extra-big-fullwidth.extra-height.mono
		font-size: 5.90vw

main .std.mono.grey
	font-size: 3vw
	
@media only screen and (min-width: 1200px)
	main .extra-big-fullwidth.extra-height.mono
		font-size: 75px
	main .std.mono.grey
		font-size: 18px
	._avatar img
		width: 280px
	main
		padding-top: 0

._avatar
	position: absolute
	right: 0
	bottom: 10vh

._description
	margin-top: 30px

.icons
	font-size: 40px
	margin-top: 20px
	color: #999
.icons > *:hover
	color: #111
.icons > *:not(:last-of-type)
	margin-right: 20px
@media only screen and (min-width: 768px) and (max-width: 1200px)
	main .extra-big-fullwidth.extra-height.mono
		font-size: 7vw
	._avatar img
		width: 280px
	main .std.mono.grey
		font-size: 1.2vw
	main
		padding-top: 30px
