doctype html
html(lang="en")
	head
		include ../meta.jade
		link(rel='stylesheet', href='css/flexboxgrid.css')
		link(rel='stylesheet', href='css/global.css')
		link(rel='stylesheet', href='css/animation.css')
		link(rel='stylesheet', href='https://use.typekit.net/xeb4rjg.css')
		script(src="js/turbolinks.js")
		script(src="js/global.js")
		block head
	body
		header
			.row
				h1.col-lg-3
					a(href="/") Ivo Sequeros del Rey
					span Coding Engineering Design
				nav.col-lg-9
					ul
						li
							a Work
							ul
								li
									a(href='underdevelopment.html') Websites
								li
									a(href='underdevelopment.html') Typography
								li
									a(href='underdevelopment.html') Graphic Design
								li
									a(href='underdevelopment.html') Web & Desktop Apps
								li
									a(href='codingstyle.html') Coding Style
						li
							a About me
							ul
								li
									a(href='whaticando.html') What I can do
								li
									a(href='fancystuff.html') Fancy Stuff
								li
									a(href='https://www.linkedin.com/in/ivo-sequeros-del-rey-393598131', target="_blank") LinkedIn
								li
									a(href='https://github.com/ivosequeros', target="_blank") Github
						li
							a(href='underdevelopment.html') Contact
	main
		block main