extends ../layouts/light
block head
	link(rel='stylesheet' href='css/codingstyle.css')
block main
	h1.extra-height.mono Coding Style #[span 👨🏻‍💻]
	.content
		.std.pagedescription To see some examples of my coding style depending on the language used you are welcome to check the following projects.
		.row
			.row._sq_nonresize_block
				div
					._title.big.thin.mono Web Apps & Sites
					._lang.bold.mono JADE + SASS + JS
					._description.small To keep my web projects clean, I design them first, then write them in Jade and SASS and compile them to HTML and CSS using Gulp.
					._example.small
						.bold Example
						span.margin.mono.underlined This Website
			.row._sq_nonresize_block
				div
					._title.big.thin.mono Javascript Projects
					._lang.bold.mono ES6 with Babel + Frameworks
					._description.small I can use promises, generators, classes, await/async and any other ES2015/17 feature. I mostly use React or Vue.js in my projects.
					._example.small
						.bold Examples
						span.margin.mono.underlined Subtitles Reader
						span &nbsp;&nbsp;&nbsp;&nbsp;
						span.margin.mono.underlined Pompeuapi
			.row._sq_nonresize_block
				div
					._title.big.thin.mono Java Projects
					._lang.bold.mono JavaFX, JavaSE or JavaEE
					._description.small Most of the stuff I write in Java is for university. All the classes I write properly follow the OOP Pattern (+ Polymorphism, Inheritance...) and I comment the code as much it needs to be understood by someone else.  I prefer to avoid unnecessary brackets :Pattern
			.row._sq_nonresize_block
				div
					._title.big.thin.mono C++ / C Projects
					._lang.bold.mono Chromium Embedded Framework
					._description.small As with Java, I write in C++ and C mostly for university projects. I properly follow the OOP Pattern in C++ and can use operators and keywords precisely and correctly. I have used both Qt and the Chromium Embedded Framework for User Interfaces.