extends ../layouts/light
block head
	link(rel='stylesheet' href='css/index.css')
block main
	.extra-big-fullwidth.extra-height.mono My name is Ivo_
		p.thin.compressed._margin02top0bottom  I'm a 
			span full-stack developer
			span  & 
		p._margin0top05bottom.thin computer science student based in Barcelona
	.std.mono.grey I spend most of my time coding, designing websites & typefaces, studying and learning languages
	._avatar
		img(src="img/avatar.png")