extends ../layouts/light
block head
	link(rel='stylesheet' href='css/websites.css')
	title Websites
block main
	h1.extra-height.mono Websites
	.content
		.std.pagedescription Here are some examples of websites I have developed.
		.row
			._website_block.col-lg-4
				iframe(src="//edelrey.es",frameborder="0")
			._website_block.col-lg-4
				iframe(src="//aidarpsicologia.com",frameborder="0")